
//importation des typos--------------------------------------
    @font-face {
        font-family: 'Finger_Paint';
        src: url(/assets/fonts/Finger_Paint/FingerPaint-Regular.ttf);
    }

    @font-face {
        font-family: 'Kolker_Brush';
        src: url(/assets/fonts/Kolker_Brush/KolkerBrush-Regular.ttf);
    }

    @font-face {
        font-family: 'Mountains_of_Christmas';
        src: url(/assets/fonts/Mountains_of_Christmas/MountainsofChristmas-Bold.woff);
    }



body{

 
    color: white;
    margin: 0;
    text-align: center;
    
}

// Background 1 & 2
.background{
    background: url(/assets/img/background.jpg);
    background-size:cover;
    
    z-index:-1;
}
.backgroundBottom{
    position: relative;
    top: -50px;
    background: url(/assets/img/background-bottom.png);
    background-size:cover;
    z-index:1

}
.container{
    
    margin:10px;

    
}
.grid{
    display : grid;
    grid-template-columns: 1fr 1fr;

    & .box_img{
        grid-column: 1/2;
        padding-bottom: 14px;
        padding-left: 70px;
    }

    & .score{
        padding-top: 75px;
        grid-column: 2/3;
        font-family: 'Kolker_Brush';
        font-size: 30px;
    }
}
.debut{
    padding-top: 0px;
    & .titre{
        font-family: 'Mountains_of_Christmas';
    }

}
.words{
    padding-top: 5px;
    font-family: 'Finger_Paint';
    font-size: 15px;

}

 #keyboard{
    padding-top: 25px;
}

.gameover{

    padding-top: 20px;
    padding-bottom: 100px;
}


